body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.3rem;
    background-color: #ffd6e5;;
    color: #020252;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 100px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}



header {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

header, main {
    flex: 0 0 auto;
}

.bg-pink {
    background-color: #F26d9e;
    color: #020252;
    width: 215px;
}

.bg-orange {
    background-color: #f27507;
    color: #020252;
    width: 215px;
}

.bg-yellow {
    background-color: #ffcb2e;
    color: #020252;
    width: 215px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    height: 50px;
    align-content: center;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: #020252;
    color: white;
}

main {
    display: flex;
}

main>section {
    flex: 1;
}

.image {
    height: 293px;
    width: 239px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text rumus */
.equation {
    text-align: left;
}

/* Form Style */
input[type=number] {
    width: 90%;
    padding: 14px 22px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;;
}

button {
    background-color: #ffcb2e;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-style: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background-color: #f27507;
    color: white;
}

footer {
    margin-top: auto;
    text-align: center;
    color: rosybrown;
    font-size: 0.7rem;
}

.thema {
    text-align: center;
    color: drakgray;
}

.script {
    text-align: left;
    font-size: 1.2rem;
    color: #020252;
}

/* Responsive Design */
@media (max-width: 480px) {
   main {
    flex-direction: column;
   }
}   
